<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<%= render 'layouts/header' %>
		<%= render 'layouts/sidebar' %>
		<div id="content">
			<%= yield =%>
		</div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
